.explore-fly-fishing-section {
  padding: 80px 24px;
  display: flex;
  gap: 24px;
}

.explore-fly-fishing-left {
  flex: 6;
}

.explore-fly-fishing-heading {
  font-size: 56px;
  font-weight: 600;
  line-height: 63px;
  font-family: Inter;
  margin: 0;
  color: var(--text-color-primary);
}

.explore-fly-fishing-content {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  font-family: Inter;
  color: var(--text-color-secondary);
}

.flying-fish-image {
  flex: 4;
  width: 100%;
  height: 300px;
}

@media (max-width: 768px) {
  .explore-fly-fishing-section {
    flex-direction: column;
    padding: 0;
  }

  .explore-fly-fishing-left {
    padding: 40px 24px;
    gap: 16px;
  }

  .flying-fish-image {
    order: -1;
    width: 100%;
    height: 300px;
  }

  .explore-fly-fishing-heading {
    font-size: 40px;
    line-height: 45px;
    padding: 0 20px;
  }

  .explore-fly-fishing-content {
    padding: 0 20px;
  }

  .get-started-button {
    margin: 0 20px;
  }
}

.featured-section {
  background-color: var(--background-color-secondary);
  padding: 24px 10%;
}

.featured-heading {
  font-size: 48px;
  line-height: 54px;
  font-weight: 600;
  color: var(--text-color-primary);
}

.featured-image {
  width: 400px;
  height: 220px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.featured-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.featured-content-title {
  font-size: 32px;
  font-weight: 600;
  margin: 10px 0px;
  color: var(--text-color-primary);
}

.featured-content {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color-secondary);
}

/* Mobile view */
@media (max-width: 768px) {
  .featured-section {
    padding: 24px 20px;
  }

  .card-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .featured-image {
    display: none;
  }
}

.story-container {
  background-color: var(--background);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.story-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  text-align: center;
}

.box1 {
  grid-row: span 3;
  justify-content: flex-start;
}

.box2 {
  grid-column: 2;
}

.box3 {
  grid-column: 2;
}

.box4 {
  grid-column: 2;
  justify-content: flex-start;
  padding: 0;
}

.story-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.story-title {
  justify-content: flex-start;
  font-size: 32px;
  font-family: Gluten;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  color: var(--text-color-primary);
}

.story-content {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color-secondary);
  flex: 1;
  text-align: left;
}

.story-container {
  padding: 24px 10%;
}

.story-title-main {
  display: none;
}

@media (max-width: 768px) {
  .grid-container {
    display: block;
  }

  .story-container {
    padding: 24px 20px;
  }
  .featured-heading {
    border-bottom: 1px solid var(--text-color-secondary);
    padding-bottom: 10px;
  }

  .story-section {
    border-bottom: 2px solid #000;
  }

  .story-title {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
  }

  .story-image {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    padding: 0;
  }

  .story-content {
    font-size: 14px;
    text-align: left;
  }
  .story-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .box2 {
    flex: 0 0 100%;
    order: 1;
    justify-content: flex-start;
    padding-left: 60px;
  }

  .box1,
  .box3 {
    flex: 0 0 40%;
    order: 2;
    align-self: flex-start;
  }

  .box1 {
    align-self: flex-start;
    padding-left: 20px;
  }

  .box3 {
    align-self: flex-start;
    padding-top: 20px;
  }

  .box4 {
    flex: 0 0 100%;
    order: 3;
    padding: 0 0 20px 0;
    margin-left: 60px;
  }
}
