.footer {
  background-color: var(--footer-background);
  padding: 24px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.logo {
  width: 71.63px;
  height: 40px;
}

.links {
  display: flex;
  gap: 24px;
}

.links a {
  color: #eee;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  margin-right: 15px;
  padding-top: 10px;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 24px;
  height: 24px;
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  color: #aeadaa;
  text-align: center;
  padding-top: 36px;
}

@media (max-width: 768px) {
  .footerContent {
    display: block;
  }
  .leftSection {
    display: block;
    text-align: center;
  }
  .logo {
    text-align: center;
    width: 100px;
  }
  .links {
    justify-content: center;
    padding-top: 0;
  }
  .rightSection {
    justify-content: center;
    padding-top: 20px;
  }
  .copyright {
    padding-top: 36px;
    margin: 0;
  }
}
